* {
  box-sizing: border-box;
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #222;
}

body {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#page-header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 450px;
}

#page-header .title {
  height: 150px;
  padding-top: 60px;
  text-align: center;
  background: #57c6de;
}

#page-header .sidebar {
  flex: 1;
  padding: 0 80px;
  overflow-y: scroll;
  background: #96dfef;
}

#page-content {
  flex: 1;
  min-width: 200px;
  padding: 120px 40px;
  overflow-y: scroll;
  background: #ddf4ff;
}

/*** Extra Typography Cleanup ***/

#page-header .title h1 {
  font-size: 2em;
}

#page-header .sidebar h2 {
  font-size: 1.2em;
  margin: 44px 0;
}

#page-header .sidebar p {
  color: #555;
}

#page-content h3 {
  font-size: 1.6em;
  margin-bottom: 44px;
}

#page-header .sidebar *, #page-content * {
  margin: 24px 0;
}

